@import './style/style.css';
@import './style/reset.css';
@import './style/header.css';
@import './style/greeting.css';
@import './style/footer.css';
/*@import './style/program.css';*/
/*@import './style/partner.css';*/

:root {
  background-color: #000000;

  color: #ffffff;
  --color-white: #ffffff;
  --color-yellow: #fffbb7;
  --color-black: #000000;
}

@font-face {
  font-family: 'ALS Gorizont Variable';
  src: url('style/fonts/ALS Gorizont Variable.ttf') format('truetype');
}

@supports (font-variation-settings: normal) {
  body {
    font-family:
      ALS Gorizont Variable,
      sans-serif;
  }
}

body {
  font-family:
    ALS Gorizont Variable,
    sans-serif;
  line-height: 1.2;
}
