.section_greeting {
  background-image: url('../image/background/background_sheep.png');
  background-size: 50%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: right top; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.greeting_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.greeting_title-title,
.greeting_title-date {
  font-size: clamp(28px, 5vw, 64px);
  font-weight: 600;
  color: var(--color-yellow);
  span {
    color: var(--color-white);
    margin-left: 55px;
  }
}

.greeting_title-subtitle {
  margin-left: 55px;
  font-size: clamp(20px, 5vw, 25px);
  color: #787878;
}

.greeting_title-date {
  background-color: #222222;
  max-width: 520px;
  padding: 16px;
}

.greeting_subtitle {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 200px;
}

.greeting_paragraphGroup {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 5vw, 16px);
  background-color: #222222;
  padding: 32px;
  .greeting_paragraph {
    font-size: clamp(12px, 5vw, 16px);
  }
}

.greeting_valaam {
  display: grid;
  place-content: center;
  justify-content: center;
  background-color: #222222;

  img {
    object-fit: cover;
    max-height: 200px;
  }
}

.greeting_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  align-items: center;
  .greeting_button {
    flex: 1;
  }
}

@media screen and (max-width: 1080px) {
  .greeting_subtitle {
    grid-template-columns: 1fr;
  }
  .greeting_valaam {
    display: none;
  }
}
