.partner {
  text-align: center;
}

.partner_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: clamp(32px, 5vw, 64px);
}

.partner_card {
  min-height: 275px;
  padding: clamp(16px, 5vw, 64px);
  text-align: left;
  background-color: #222222;
  display: grid;
  place-items: center;

  .partner_cardContent {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}

.partner_buttonGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: clamp(14px, 5vw, 22px);
  justify-content: flex-end;
  flex-wrap: wrap;
}

.partner_title {
  font-size: clamp(30px, 5vw, 30px);
  font-weight: 600;
  line-height: 1.4;
}

.partner_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc; /* Маркер в виде кружка */
  padding-left: 20px; /* Отступ слева для списка */
  li {
    font-size: clamp(14px, 5vw, 22px);
    font-weight: 100;
  }
}

.partner_list {
  list-style-type: disc; /* Маркер в виде кружка */
  padding-left: 20px; /* Отступ слева для списка */
}

.partner_list li::marker {
  color: var(--color-yellow); /* Цвет маркера */
  font-size: 1.2em; /* Размер маркера */
}

.partner_billet {
  font-size: clamp(10px, 5vw, 18px);
  color: var(--color-yellow);
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    white-space: nowrap;
  }

  img {
    width: 20px;
  }
}

.partner_info {
  margin-top: 50px;
  min-height: 140px;
  display: grid;
  place-items: center;
  /* background-color: #222222; */
  /* border: 1px solid var(--color-yellow); */
  padding: clamp(16px, 5vw, 32px);
  p {
    color: var(--color-white);
    text-align: left;
    font-size: clamp(14px, 5vw, 32px);
    line-height: 1.4;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .partner_cards {
    grid-template-columns: 1fr;
  }

  .partner_info {
    p {
      font-size: 14px;
    }
  }
}
