.program {
  background-image: url('../image/background/background_cerkov.png');
  background-size: 50%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: top right; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
}

.program_title {
  font-size: clamp(24px, 5vw, 44px);
  font-weight: 600;
  color: var(--color-yellow);
  padding: 16px;
  margin-bottom: clamp(30px, 5vw, 60px);
}

.program_days {
  max-width: 50%;
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.program_day {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.program_day-one {
  margin: 0 auto;
}

.program_day_button {
  max-width: 140px;
}

.program_day_title {
  color: var(--color-yellow);
  font-weight: 500;
  font-size: clamp(14px, 5vw, 18px);
}

.section_programSub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program_sub {
  background-image: url('../image/background/background_vera.png');
  background-size: 60%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: left; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(24px, 5vw, 48px);
}

.program_sub-card {
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #222222;
  padding-left: 16px;
  min-height: 240px;
}

.program_sub-text {
  padding: 16px 48px;
  line-height: 22px;
}

.section_programDays {
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}



.program_Days {
  background-image: url('../image/background/background_vera.png');
  background-size: 60%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: right; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.program_titleDays {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 50px;
}

.program_Days_card {
  min-height: 140px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 64px;
}

.program_Days_card-day {
  width: 40px;
  height: 100%;
  border: 1px solid var(--color-yellow);
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-black);
  transition: all 0.4s ease;
  cursor: default;
  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
  }
}

.transform_text {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: clamp(24px, 5vw, 32px);
}

.program_Days_card-text {
  flex: 1;
  min-width: 1300px;
  height: 100%;
  background-color: #222222;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

/*.program_titleDays {*/
/*  margin-right: auto;*/
/*  margin-left: 200px;*/
/*}*/

.program_days-timeText {
  display: flex;
  gap: 16px;
  p:first-child {
    font-weight: 700;
  }

  p {
    font-size: clamp(14px, 5vw, 22px);
  }
}

@media screen and (max-width: 1524px) {
  .program_Days {
    align-items: stretch;
  }

  .program_Days_card-text {
    min-width: 0;
  }
}

@media screen and (max-width: 1024px) {
.program_Days_card {
  grid-template-columns: 1fr;
}
  .transform_text {
    transform: rotate(0);
  }
  .program_Days_card-day {
    width: 140px;
    height: 40px;
    padding: 0;
  }

  .program_days-timeText {
    flex-direction: column;
  }
}
