.spacers_list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: clamp(16px, 5vw, 32px);
  margin-top: clamp(16px, 5vw, 50px);

  .spacers_list-item {
    flex: 1;
    padding: clamp(16px, 5vw, 32px);
    background-color: #222222;
  }
}

.spacers_items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    font-size: clamp(14px, 5vw, 22px);
    font-weight: 100;
  }
}

.spacers-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .spacers_list {
    grid-template-columns: 1fr;
  }

  .spacers_items {
    li {
      font-size: 14px;
    }
  }

  .spacers-decstop {
    display: none;
  }

  .spacers-mobile {
    display: block;
  }
}
