.spacers_list {
  display: flex;
  align-items: center;
  gap: clamp(16px, 5vw, 32px);
  flex-wrap: wrap;
  margin-top: clamp(16px, 5vw, 50px);

  .spacers_list-item {
    flex: 1;
    padding: clamp(16px, 5vw, 32px);
    background-color: #222222;
  }
}

.spacers_items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    font-size: clamp(14px, 5vw, 22px);
    font-weight: 100;
  }
}
