body {
  margin: 0 auto;
  overflow-x: hidden;
  /*max-width: 1920px;*/
}

html {
  scrollbar-width: thin;
}

.container {
  padding: 0 clamp(16px, 5vw, 150px);
  min-height: calc(100vh - 97px);
}

.container_left {
  padding-left: clamp(16px, 5vw, 150px);
}
