body {
  margin: 0 auto;
  overflow-x: hidden;
  /*max-width: 1920px;*/
}

html {
  scrollbar-width: thin;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: Inter;
  src:
    local('Gorizont'),
    url('src/app/style/fonts/ALS Gorizont Variable.ttf') format('ttf');
}

.container {
  padding: 0 16px;
  min-height: calc(100vh - 230px);
}

.divLink {
  height: 100px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #000;
  position: sticky;
  top: 0;
  padding: 16px;
  border-bottom: 1px solid #2f2f2e;
  justify-content: space-between;
  display: flex;
  align-items: center;
  z-index: 10;
}

.header_logo {
  height: 40px;
}

.header_list {
  display: flex;
  align-items: center;
  height: 64px;
}

.header_list {
  gap: 16px;
}

.header_list_link {
  font-size: clamp(10px, 5vw, 14px);
  color: var(--color-yellow);
  cursor: pointer;
  opacity: 100%;
  transition: all 0.4s ease;
  text-decoration: none;

  &:hover {
    /* bottom: 1px; */
    position: relative;
    opacity: 70%;
  }
}

.header_list_link_contact {
  border: 1px solid rgb(255 255 255 / 30%);
  color: var(--color-white);
  padding: 8px 16px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 100%);

  &:hover {
    background-color: rgb(255 255 255 / 100%);
    border: 1px solid rgb(255 255 255 / 100%);
    color: var(--color-black);
  }
}

/* Стили для бургер-иконки */

.burger_icon {
  display: none; /* Скрываем на десктопах */
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.burger_icon span {
  width: 25px;
  height: 3px;
  background-color: var(--color-yellow);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/* Адаптация для мобильных устройств */

@media (max-width: 768px) {
  .burger_icon {
    display: flex;
  }

  .header_list {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .header_list {
    justify-content: center;
  }

  /* Анимация открытия меню */
  .header_list.active {
    transform: translateX(0);
    display: flex;
  }

  /* Анимация бургер-иконки */
  .burger_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger_icon.active span:nth-child(2) {
    opacity: 0;
  }

  .burger_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

.greeting {
  padding: 16px;
  /*padding-top: 0;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  gap: 32px;
}

.greeting_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-image: url('./background_sheep-DtS3jq6I.png');
  background-size: cover; /* Заполняет весь блок, сохраняя пропорции */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
}

.greeting_titleText {
  font-size: clamp(28px, 5vw, 64px);
  font-weight: 600;
  color: var(--color-yellow);
  span {
    color: var(--color-white);
    margin-left: 55px;
  }
}

.greeting_titleDate {
  background-color: #222222;
  padding: 16px;
  width: 50%;
  max-width: 440px;
  display: flex;
  align-items: center;
}

.greeting_titleText_subtitle {
  font-size: clamp(20px, 5vw, 25px);
  color: #787878;
}

.greeting_subtitle {
  display: flex;
  align-items: center;
  gap: 16px;
  .greeting_paragraph {
    flex: 1;
  }
}

.greeting_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: #222222;
  padding: 16px;
  min-height: 250px;
}

.greeting_paragraph_text {
  font-size: clamp(14px, 10vw, 25px);
}

.greeting_icon {
  min-width: 165px;
  background-color: #222222;
  min-height: 250px;
  padding: 16px;
}

.greeting_valaam {
  height: 250px;
}

.greeting_buttonGroup {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;

  .button {
    flex: 1;
  }
}

@media (max-width: 1280px) {
  .greeting_icon {
    display: none;
  }
}

@media (max-width: 728px) {
}

.program {
  background-image: url('./background_cerkov-CkZ34DC6.png');
  background-size: 50%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: top right; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
}

.program_title {
  font-size: clamp(24px, 5vw, 44px);
  font-weight: 600;
  color: var(--color-yellow);
  padding: 16px;
  margin-bottom: clamp(30px, 5vw, 60px);
}

.program_days {
  max-width: 50%;
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.program_day {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.program_day-one {
  margin: 0 auto;
}

.program_day_button {
  max-width: 140px;
}

.program_day_title {
  color: var(--color-yellow);
  font-weight: 500;
  font-size: clamp(14px, 5vw, 18px);
}

.section_programSub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program_sub {
  background-image: url('./background_vera-BlqFITO6.png');
  background-size: 60%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: left; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(24px, 5vw, 48px);
}

.program_sub-card {
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #222222;
  padding-left: 16px;
  min-height: 240px;
}

.program_sub-text {
  padding: 16px 48px;
  line-height: 22px;
}

.section_programDays {
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}

.program_Days {
  background-image: url('./background_vera-BlqFITO6.png');
  background-size: 60%; /* Заполняет весь блок, сохраняя пропорции */
  background-position: right; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.program_titleDays {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 50px;
}

.program_Days_card {
  min-height: 140px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 64px;
}

.program_Days_card-day {
  width: 40px;
  height: 100%;
  border: 1px solid var(--color-yellow);
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-black);
  transition: all 0.4s ease;
  cursor: default;
  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
  }
}

.transform_text {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: clamp(24px, 5vw, 32px);
}

.program_Days_card-text {
  flex: 1;
  min-width: 1300px;
  height: 100%;
  background-color: #222222;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

/*.program_titleDays {*/

/*  margin-right: auto;*/

/*  margin-left: 200px;*/

/*}*/

.program_days-timeText {
  display: flex;
  gap: 16px;
  p:first-child {
    font-weight: 700;
  }

  p {
    font-size: clamp(14px, 5vw, 22px);
  }
}

@media screen and (max-width: 1524px) {
  .program_Days {
    align-items: stretch;
  }

  .program_Days_card-text {
    min-width: 0;
  }
}

@media screen and (max-width: 1024px) {
.program_Days_card {
  grid-template-columns: 1fr;
}
  .transform_text {
    transform: rotate(0);
  }
  .program_Days_card-day {
    width: 140px;
    height: 40px;
    padding: 0;
  }

  .program_days-timeText {
    flex-direction: column;
  }
}

:root {
  font-family: Gorizont, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #ffffff;
  --color-yellow: #fffbb7;
  --color-black: #000000;
}
